.DS_Store
.snakemake
._*
tmp
tmp/*
plots/*
gtex_eqtl_V8.sif
scripts/__pycache__
scripts/__pycache__/*
scripts/src/__pycache__
scripts/src/__pycache__/*
scripts/slurm_submission
scripts/single_use
results
results/*
